{% extends 'base.html.twig' %}

{% block body -%}

<div id="chart-container">

    <p>Hello {{ data }}!</p>
    <canvas id="mycanvas"></canvas>

</div>

<!-- javascript -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/Chart.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

{% endblock %}
